h1 {
	font-style: oblique;
	text-align: center;
}
.parrafo {
	text-align: center;  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* 
.column .infoImg {
	display: none;
	position: absolute;
	bottom: 5%;
	left: 5%;
	right: 5%;
	background-color: #fff;
	padding: .5em;
}

.column:hover .infoImg {
	display: block;
	text-align: center;
}
h4 {
	font-style: oblique;
	text-align: center;
} */


/* Footer */

#button-addon1 {
	color: #ffc371;
}

i {
	color: #ffc371;
}

.form-control::placeholder {
	font-size: 0.95rem;
	color: #aaa;
	font-style: italic;
}

.form-control.shadow-0:focus {
	box-shadow: none;
}

iframe {
	width: 100%;
	float: left;
	text-align: center;
}