.progress-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.goal-text {
    text-align: center;
    font-size: 7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;/* linear-gradient(to right, #ffc861 0%, #8ae226 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress {
    height: 40px;
    width: 80%; /*400px;*/
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
}

.progress-done {

    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}